.jumbotron {
  background-image: url('/images/jumbo_bg.jpg');
  height: 300px;
}

.jumbotron h1 {
/*  text-align: center;*/
  font-family: 'Leckerli One', cursive;
  margin-top: 0px;
  font-size: 60pt;
}

.search-bar {
  display: inline-block;
  width: 350px;
  margin-top: 20px;
/*  margin-left: 35%;
*/  background-color: rgba(0,0,0,0);
}

.polaroid {
  height: 370px;
  width: 320px;
  background-color: #F5F5F5;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding-top: 7px;
  }

.image {
  height: 306px;
  width: 306px;
  background-color: gray;
  margin: auto;
  margin-bottom: 5px;
}


.description {
  margin: 0 0 0 15px;
}

.username {
  margin: 0 0 0 15px;
}

.map {
  width: cover;
  height: 300px;
  background-color: white;
}


    
html, body, #map-canvas {
  height: 300px;
  width: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


